* {
  padding: 0;
  margin: 0;
  font-family: 'Sans';
}

.toggle-button {
  background: #ff4d4d;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}
.toggle-menu {
  display: none;
}
.toggle-menu ul{
  list-style: none;
}

.toggle-menu li {
  text-align: center;
}

.toggle-menu a {
  text-decoration: none;
  color: white;
  background: #ff4d4d;
  display: block;
  padding: 10px 0;
}

.toggle-menu a:hover {
  color: black;
  background: white;
}

.fa-bars{
  float: left;
  margin-left: 3%;

}

#Home{
  text-align: center;
  background-color: rgba(255, 77, 77, 0.5);
  color: white;
}

#descobertas{
  position: absolute;
}